[Desktop Entry]
Type=Application
Icon=/usr/share/glacier-weather/icons/glacier-weather.png
Exec=/usr/bin/glacier-weather
Name=Weather
Name[cs]=Počasí
Name[ru]=Погода
Name[es]=Clima
Name[sk_SK]=Počasie
Name[uk]=Погода
Name[de]=Wetter
Name[pl]=Pogoda
